.main {
  max-width: 773px;
  margin: 0 auto;
  padding: 40px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media screen and (max-width: 1024px) {
    padding: 0 30px;
  }

  @media screen and (max-width: 540px) {
    padding: 0 10px;
  }
}
