@import "./variables.module.scss";
@import "./mixins.module.scss";

.header {
  background-color: $color-white;
}

.wrapper,
.logo {
  display: flex;
  align-items: center;
}

.wrapper {
  max-width: 1176px;
  margin: 0 auto;
  padding: 24px 30px;
  column-gap: calc(100% - 836px);

  @media screen and (max-width: 1280px) {
    padding: 24px 30px;
  }

  @media screen and (max-width: 1024px) {
    justify-content: space-evenly;
    column-gap: 60px;
  }

  @media screen and (max-width: 425px) {
    padding: 24px 10px;
    column-gap: 20px;
  }
}

.logo {
  column-gap: 12px;
}

.logoTitle {
  margin: 0;
  @include font(normal, 600, 24px, 36px);
  letter-spacing: -0.02em;
  color: $color-black;

  @media screen and (max-width: 540px) {
    display: none;
  }
}

.navList {
  display: flex;
  justify-content: center;
  column-gap: 60px;

  @media screen and (max-width: 425px) {
    column-gap: 20px;
  }
}

.navLink {
  &.active {
    color: $blue-main-500;
  }
}
