@import "./variables.module.scss";
@import "./mixins.module.scss";

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  margin: 0;
  background-color: $color-bg;
  &::-webkit-scrollbar {
    display: none;
  }
}

.vacancyWrapper {
  display: flex;
  flex-direction: column;
  max-width: 833px;
  width: 100%;
  margin: 0 auto;
  row-gap: 20px;

  @media screen and (max-width: 1024px) {
    padding: 0 30px;
  }

  @media screen and (max-width: 425px) {
    padding: 0 10px;
  }
}

.description {
  max-height: max-content;
  padding: 23px;
  background-color: $color-white;
  border: 1px solid $grey-200;
  border-radius: 12px;

  & ul {
    padding-left: 23px;
  }

  & li {
    list-style: disc;
  }

  & li::marker {
    list-style-position: inside;
  }
}
